<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".webservice.WebserviceDemoActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.UIWidgetsActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.GuestLocationDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.GuestSignup" />
        <activity
            android:name=".uiwidgets.GuestSignupActivity"
            android:exported="false"
            android:theme="@style/Theme.GuestSignup" />
        <activity
            android:name=".uiwidgets.FrameLayoutManagerActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.NavigationComponentActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.CoordinateLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.GridLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.GridLayoutProjectActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".uiwidgets.ConstraintLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".uiwidgets.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.AppBarActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".uiwidgets.TabLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".uiwidgets.TextInputLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.SnackbarActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.FloatingActionButtonActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.SelectionControlsActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ImageButtonActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ToggleActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ToastActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ButtonsActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewDemoActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.ImageSliderViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.SimpleBottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.GmailActivity"
            android:exported="true"
            android:theme="@style/GmailTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.SimpleListViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity_fragment_intent.FragmentDemoCommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_intent.uiwidgets.WebViewActivity"
            android:configChanges="orientation"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_intent.uiwidgets.IntentActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_fragment_intent.uiwidgets.ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_intent.uiwidgets.SecondActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_intent.uiwidgets.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_intent.uiwidgets.LifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>